[2016-08-18 08:32] theo-armour opened #1 "Where has Mostapha been?"
Mostapha was here:

![image](https://cloud.githubusercontent.com/assets/547626/17766633/f05f8d18-64e0-11e6-8ffc-65c1d5cfb259.png)

@ladybug-analysis-tools/owners @mdahlhausen

There's a lot going on with mapping. Sadly, 3D mapping - projects like Google Earth - are old, slow and finicky.

Can we disrupt that?
## [Elevations View: Teheran](https://jaanga.github.io/terrain3/elevations-core3/elevatio

[2017-05-31 15:45] mostaphaRoudsari opened #2 "Add a page for FAQ"
There are a number of questions that we need to answer in a single page. The answers can be linked to other pages but compiling the questions in one place will save us a lot of time. I start the with the questions that I get frequently. Feel free to add more questions to this issue and we will add it to the page with replies.

1. How did it all started?
2. What is the pricing for using Ladybug Too

[2017-05-31 15:52] mostaphaRoudsari opened #3 "Finish Ladybug, Honeybee, Butterfly and Dragonfly Pages"
http://www.ladybug.tools/eval/ladybug
http://www.ladybug.tools/eval/honeybee
http://www.ladybug.tools/eval/butterfly
http://www.ladybug.tools/eval/dragonfly

For each page we need:
1. What's X?
2. Pick the most major features of X.
3. Pick a representative image for each feature and a short explanation for each.

@chriswmackey for 2 we probably need to set up a call and discuss the featured featur

[2017-05-31 15:53] mostaphaRoudsari opened #4 "Tools"
We're currently only including ladybug, honeybee, butterfly and dragonfly under tools. What about Ladybug-web, epwmap and other web-based tools that have been developed or under development? Should we have a page for each?

[2017-05-31 19:31] mostaphaRoudsari opened #5 "modify the contribution images"
There should be two choices. Be a supporter on Patreon and contribute to Ladybug Tools via paypal.

[2017-05-31 19:34] mostaphaRoudsari opened #6 "external links should open a new page"
Thanks @ayezioro for the suggestion.

[2017-05-31 20:02] ayezioro commented on #2
Hi Mostapha,
Forgot to suggest: Provide a list of published scientific papers using LBTools. Will be cool ... i think.
-A.

[2017-05-31 20:05] mostaphaRoudsari opened #7 "Add a page for publications"
See this (https://github.com/ladybug-tools/ladybug-tools.github.io/issues/2#issuecomment-305300402)

[2017-05-31 20:05] mostaphaRoudsari commented on #2
Hi Abraham! Great suggestion. Opened a new issue for this one: https://github.com/ladybug-tools/ladybug-tools.github.io/issues/7

[2017-05-31 20:07] mostaphaRoudsari commented on #1
@theo-armour this is very cool and @chriswmackey is the one to answer the question. Both links are broken though.

[2017-05-31 20:13] theo-armour commented on #1
@mostaphaRoudsari

Oops! Will fax later today.

[2017-06-01 06:39] theo-armour commented on #1
@mostaphaRoudsari @chriswmackey

Links fixed - mostly

[2017-06-01 08:08] theo-armour commented on #2
@mostaphaRoudsari

Typically web sites will have pages for pricing, about us, contact us and so on - for the big questions

Regarding support, it's worth considering what questions belong in GitHub issues, what belongs in Stack Overflow and what belongs in a forum. Guidance for these should be provided somewhere on the site.

[2017-06-01 08:27] theo-armour commented on #4
@mostaphaRoudsari

The Read Me and the Web Page for any tools should work together.

In an ideal world, the web page and and the Read Me use identical content.

When this does not happen then one or the other starts getting way out of date. Generally, I build the Read Me first - using Markdown. The web site just grabs the latest text from the Read Me and displays it.

[2017-06-01 08:37] theo-armour commented on #7
@mostaphaRoudsari

Often this type of data is treated as a bibliography of tables of references.

One should be able to click the reference to open it and also be able to copy the reference into another work.

[2017-06-01 08:43] theo-armour opened #8 "friends and foes"
@ladybug-tools/owners

Would it be possible to come up with a list of three or more web sites that are in the same field as we are and that we feel are doing a reasonable job of explaining who they are to new users as well as being useful to existing users?

We want to be able to show the same kind of information about us as they do about themselves. And we can try to do even better!

If we are go

[2017-06-01 14:00] mostaphaRoudsari commented on #8
Hi @theo-armour,

[Processing](https://processing.org/) is a good reference. Their website is a little bit old but they are very similar in case of what they do.

[d3.js](https://d3js.org/) is another one with the difference that it's a website mainly designed for developers.

I also think users will give us feedback about the website as we go so we will know more what they will be looking for on

[2017-06-01 14:02] mostaphaRoudsari commented on #7
@theo-armour, thanks. [Daysim publications page](http://daysim.ning.com/page/publications) could be a good example. They don't have active links to publications though which is not good.

[2017-06-01 14:06] mostaphaRoudsari commented on #2
@theo-armour, Very good point. I added it as number 9.

[2017-06-02 08:15] theo-armour commented on #8
@mostaphaRoudsari

Very interesting choices. And not at all what I anticipated.

My thought was that you would e considering various web sites concerned with heating, energy, light and similar engineering calculations. Instead you went in the direction of programming, language and graphics.

My first thought is this means I am not well informed regarding your intentions. and could use some help in

[2017-06-03 07:11] theo-armour opened #9 "Added 'New Ladybug Tools Web Site' as a GitHub Project"
See:

## https://github.com/ladybug-tools/ladybug-tools.github.io/projects/1

This may or may not be helpful. And the cards I have added may or may not be good.

But we should decide if Projects could be useful to us. And, if so, how?

We might also consider use of GitHub Milestones

[2017-06-04 16:00] mostaphaRoudsari commented on #9
Hi @theo-armour, I found something like projects mostly useful closer to a public release when we want to track critical items. It's nice to have it on GitHub but so far I have been using [Trello](https://trello.com/).

I personally think issues are flexible enough to assign all we need using labels, assignee and milestone. Having one more place to check (projects) doesn't sound pleasing to me unl

[2017-06-04 17:07] mostaphaRoudsari commented on #8
@theo-armour,

We do. We have been modifying it for some time now and we're getting closer to a final decision. I can share the google docs with you with more details if you're interested. The reason I pointed out processing and d3 rather than [DesignBuilder](https://www.designbuilder.co.uk/) or [IES](https://www.iesve.com/) is because I see us much more similar to the first group. We're first try

[2017-06-04 17:57] mostaphaRoudsari opened #10 "Discussion forum / support page"
This is in reply to @theo-armour's comment in ReadMe.

Bug reports, feature requests and road map issues should go to GitHub Issues

@theo-armour, Totally agreed that we need a better place than Grasshopper group. Stackoverflow can be harsh for beginners in our community. Also agreed on GitHub and that's how [legacy versions are currently working](https://github.com/mostaphaRoudsari/honeybee/issue

[2017-06-05 08:25] theo-armour commented on #10
I had forgotten about Discourse. Good Call. Even Three.js has one.

https://discourse.threejs.org/

I would go for the paid option. Maintaining forums can be a pain in the butt. And the search results are likely to be better if data is in Discourse servers.

I have updated the text I started on Support

https://github.com/ladybug-tools/ladybug-tools.github.io/tree/master/eval

[2017-06-05 08:28] theo-armour commented on #9
@mostaphaRoudsari

All sounds good. Once I move the links I found to somewhere safe, I will delete the project.

[2017-06-05 08:28] #9 closed

[2017-06-05 08:57] theo-armour commented on #8
@mostaphaRoudsari

Please do share. I will be delighted to reads and comment.

After reading it I will be more knowledgeable about your comments here. Anyway, so far it's good and I agree and follow your thinking.

If a project is truly open source then it's decision making process is open as well. I feel that projects like Three.js and Linux are successful because anybody go access all the messag

[2017-06-10 01:45] theo-armour commented on #10
project deleted

[2017-06-10 01:45] #10 closed

[2017-06-10 01:49] theo-armour opened #11 "Rename 'Owners' team to 'Core' team"
GitHub points out that the 'Owner' team no longer has the power it used to have. In order to avoid any confusion, it's best to rename the team. They suggest the name 'Core'.

BTW, I joined myself to the team.

Unless I hear otherwise or somebody else gets there first, I will do the renaming in a day or two.

[2017-06-10 03:23] theo-armour commented on #2
How do people feel about Markdown?

Would it be a good thing to have the FAQ in Markdown format so that it is easy to update? If so we can get going with the FAQ immediately and then format the style at a later date.

[2017-06-10 03:40] theo-armour opened #12 "Updates to Eval Read Me"
@ladybug-tools/owners

I have added quite a bit of text to the Eval Read Me. It's all a work in progress. I plan to add quite a bit more about 'Early-design modeling'

### [New Web Site Read Me]( https://github.com/ladybug-tools/ladybug-tools.github.io/tree/master/eval )

It is intended to serve as boilerplate text for the new web site.

Let me know if you would like expansions on any particular t

[2017-06-10 13:19] mostaphaRoudsari commented on #12
@theo-armour 💯, Where is a good place to include the Bibliography? Do you want me to start a separate HTML page? or should we first collect them under an issue and move them to the page eventually?

[2017-06-10 13:23] mostaphaRoudsari commented on #11
I didn't know about it. Thanks. It's renamed to @ladybug-tools/core. I also renamed other teams to ensure all the team names are lowercase.

[2017-06-10 13:23] #11 closed

[2017-06-10 13:32] mostaphaRoudsari commented on #12
OpenFOAM and OpenFOAM+ are very similar. We are currently using OpenFOAM from http://openfoam.com/ since they started the official support for Windows first.

[2017-06-10 13:42] mostaphaRoudsari commented on #12
We should change the definitions for our plugins as they are no longer only for Grasshopper. Though this is an accurate definition for the legacy version. That will be a forthcoming challenge for us to clarify the [legacy version](https://github.com/mostaphaRoudsari/honeybee) from the [[+] version](https://github.com/ladybug-tools/honeybee).

Ladybug tools is designed to support the whole design p

[2017-06-10 13:46] mostaphaRoudsari commented on #2
@theo-armour sounds great. I'm busy with honeybee[+] right now and unless you think it's critical I didn't want to add a new page to the website this week. If we have them in Markdown it should be easy to move them to the html page at a later date.

[2017-06-11 03:40] #1 closed

[2017-06-11 04:04] theo-armour commented on #2
Add a preliminary FAQ in Markdown

https://github.com/ladybug-tools/ladybug-tools.github.io/blob/master/eval/faq.md

[2017-06-11 04:04] #2 closed

[2017-06-11 04:06] theo-armour commented on #7
See

https://github.com/ladybug-tools/ladybug-tools.github.io/blob/master/eval/bibliography.md

[2017-06-11 04:06] #7 closed

[2017-06-15 02:07] theo-armour commented on #12
@mostaphaRoudsari

Thank you for your suggestions. I agree with of them.

The easiest and much the fastest way, however, to reaching completion/closing on issues like these is to edit the text directly.

GitHub makes collaborating easy. Let's learn how to use these capabilities to the maximum.

Would you like to make the edits directly?

But more important: Did you like this effort? Will this kind

[2017-06-15 02:46] theo-armour opened #13 "Ladybug Tools View ~ a simple self-updating cross-repo file viewing utility"
@ladybug-tools/core

![image](https://user-images.githubusercontent.com/547626/27162342-99d7326a-5135-11e7-90c6-e986e9bd3df6.png)
_Ladybug Tools View screen capture_

## [Ladybug Tools View]( https://pushme-pullyou.github.io/tootoo/r5/ladybug-tools-view/ladybug-tools-view-r1.html )

### General Usage

* A free, open source [file viewer]( https://en.wikipedia.org/wiki/File_viewer ) for all the Lady

[2017-06-15 16:15] mostaphaRoudsari commented on #12
@theo-armour Yes. Thanks. This is very helpful.

I wasn't sure if you want me to edit the file. Will be happy to edit the files directly and provide a reference here.

[2017-06-19 15:15] chriswmackey opened #14 "Finalize the List of Ladybug Tools Features"
Members of the Ladybug Community,

We are finalizing the list of features/capabilities of the different insects for this main website.  These features will appear at the bottom of the page for each insect like so:
http://www.ladybug.tools/eval/ladybug#facts and with full description here http://www.ladybug.tools/eval/ladybug#features

Here is the full list of features that we plan to post on the w

[2017-06-19 17:43] sariths commented on #14
@chriswmackey For Radiance-based features, following are worth mentioning:

- LEEDv4 compliance studies including Annual Sunlight Exposure(ASE) and Spatial Daylight Autonomy(sDA).
- Three Phase and Five Phase Annual Daylight Simulations (This is almost done).
- (Future) Photon Mapping Integration for Image-based and Annual Iluminance simulations.

[2017-06-19 20:05] mostaphaRoudsari commented on #14
@sariths didn't we make the decision not to expose the three phase?

[2017-06-19 20:25] sariths commented on #14
@mostaphaRoudsari Yes! And that is how it should be. I am just wondering if we should say that we are also running 3 phase under-the-hood. I am just not sure of how many people will get the distinction between 3 Phase and 5 Phase.

[2017-06-19 20:39] mostaphaRoudsari commented on #14
@sariths as discussed let's use Multi-Phase daylight analysis then which covers both of them.

[2017-06-19 21:49] TheodoreGalanos commented on #14
Hi Chris and everyone,

I am adding a few features of Butterfly below, including some future
additions given the young age of the bug.

1. Steady-state buoyant, turbulent flows using the boussinesq approximation
(heat transfer recipe)
2. Wind Driven Rain - FUTURE
3. Transient alternative of all current/future capability - FUTURE
4. Simulation of rotating machinery using Single and Multiple Referen

[2017-06-20 21:57] theo-armour opened #15 "Some observations of the admin of Ladybug Tools"
@ladybug-tools/core

###  Communications
Always a good thing to add the team a message is addressed to at the top of an issue.  This message is addressed to: @ladybug-tools/core. Of course, if a product is truly open then all messages are open to all, but addressing to particular teams helps peeps filter what they have to read.

I would be pleased to see a page that describes how we should communi

[2017-06-20 23:35] mostaphaRoudsari commented on #15
Hi @theo-armour. Valuable points as usual. Here are my comments.

Yes please! I need to add one for the development for contributing code to ladybug tools and how we develop. Some [version of this guideline](https://github.com/Khan/style-guides/blob/master/style/python.md). The wiki on GitHub should be a great place to get this started. If can get this started we will follow your lead.

### Naming

[2017-06-21 07:08] theo-armour commented on #13
@mostaphaRoudsari

Any thought on this?

### [Ladybug Tools View]( https://pushme-pullyou.github.io/tootoo/r5/ladybug-tools-view/ladybug-tools-view-r1.html )

[2017-06-21 07:31] theo-armour commented on #15
@mostaphaRoudsari

Thank you for the many replies.

### Using the GitHub Wiki.
From what I can see, most Wikis on GitHub have not been particularly successful. There could be a number of reasons for this. Some of these might be that a Wiki does not go through the normal pull request, merge and commit process. Thus extra/different work is added and that makes life more complicated for the maintaine

[2017-06-21 13:47] mostaphaRoudsari commented on #13
@theo-armour I will reply to this and #15 at some point this weekend. Thank you for both.

[2017-06-25 12:50] mostaphaRoudsari commented on #13
Hi @theo-armour,

The customization for the styling is nice but who is the target audience for this app? I personally use [find file](https://github.com/ladybug-tools/ladybug-tools.github.io/find/master) online or just search locally for what I need. How do you see this being different from what is available already?

Are we talking about visualizing the files? or a new interface that loads the in

[2017-06-25 13:09] mostaphaRoudsari commented on #15
@theo-armour thank you for the reply and sorry for the delayed response.

### Using the GitHub Wiki.

I love you hear more about your suggestions. What do you think about using gitbooks? It is based on github repositories and you can use commits, pull requests, etc. Here is the [gitbook for butterfly](https://ladybug-tools.gitbooks.io/butterfly-primer/content/) and [the repository](https://github.

[2017-06-26 17:30] mostaphaRoudsari opened #16 "Update images for the landing slides"
The images should be replaced with high quality and meaningful images.

[2017-06-27 02:59] #16 closed

[2017-06-27 15:07] mostaphaRoudsari commented on #15
@theo-armour I tried to address the issue with external links. Let me know if there is more that I need to add.

[2017-06-27 15:16] mostaphaRoudsari opened #17 "Publications list"
@ladybug-tools/core, @ladybug-tools/collaborators, @ladybug-tools/honeybee-core-developers

What are the publications that we need to add to the [publication page](http://www.ladybug.tools/eval/publication)?

Generally speaking what is the criteria to include a publication on publications page? I mainly included the papers that are discussing the core development of Ladybug Tools.

Also should we

[2017-06-28 08:57] theo-armour commented on #13
@mostaphaRoudsari

All valuable points. It's really nice to have the first or fresh point of view on a project.

What these scripts do

* Render the file
    *HTML, MD, image files and more
* Single click to view the next file
    * none of the go there/come back, go there/come back multiple click stuff
* Drag and drop GitBook
    *No compiling. Just commit a file and it appears in the listing
* E

[2017-06-28 09:26] theo-armour commented on #15
I really like GitBooks. That's why I built this thing

https://pushme-pullyou.github.io/tootoo/r5/ladybug-tools-view/ladybug-tools-view-r1.html#tootoo/r5/ladybug-tools-view/README.md

I wanted to do what GitBooks is doing just using the GitHub pages feature and without having to build or compile or whatever. And there's a bunch more stuff. GitBooks takes you to Facebook/Weibo. No thank you. I want

[2017-06-28 20:31] theo-armour commented on #17
@mostaphaRoudsari

Good start.

Here is the link for the criteria Wikipedia uses for references. You will note that the link is on the ISBN number. https://en.wikipedia.org/wiki/Wikipedia:Scientific_citation_guidelines

I note that references in journals are usually left-justified. Currently the text is centered - and in my opinion looks pretty more than looking professional.

I will have a look a

[2017-07-01 02:09] theo-armour opened #18 "Ladybug Forum RSS Reader in JavaScript"
@mostaphaRoudsari

![image](https://user-images.githubusercontent.com/547626/27758276-4096dc54-5dc5-11e7-873a-bfb9ffd6d5c5.png)
_Screen capture - cheeChee R2 - RSS feed capture and display_

## [Ladybug Tools RSS]( https://pushme-pullyou.github.io/cheechee/r1/cheechee-r2.html )

1. Would you like to see this project added and embedded into Ladybug Tools?
1. What are are features you would like to

[2017-07-01 02:43] theo-armour commented on #15
@mostaphaRoudsari

RE: Solar Access

Is there a standard for the shades or colors used to indicate the solar access for a particular face?

Are the following assumptions correct:

* Looking to calculate the position of the Sun from dawn to sunset from ten ( or more ) equally spaced positions
* The default should be at December 21st in the Northern Hemisphere and June 21 in the Southern. The user m

[2017-07-01 14:21] chriswmackey commented on #17
@mostaphaRoudsari ,

Another one of the Building simulation papers that I am an author on is heavily reliant on Ladybug and features a lot of Ladybug graphics.  I think we can include this one.

I also know that there are a lot of academic journal papers using Ladybug that people have posted to the GH group forum.  I think these should go up there and, if you agree, I can track them down.

Finally

[2017-07-01 14:22] chriswmackey commented on #17
Ah, I did not mean to close this issue. That was an accident.

[2017-07-04 15:04] mostaphaRoudsari commented on #18
@theo-armour beautiful! Once it's fully developed it will be the first page for me to check every morning. :)

[2017-07-04 15:08] mostaphaRoudsari commented on #17
@theo-armour noted! I'll change the style. I will try a couple of options including double columns.

@chriswmackey can you share the info about the paper that you mentioned?

I actually copied the link to your thesis but I should have forgotten to put it in! :|

and yes, let's add the ones from the forum. I think we shared most of them also on the Facebook and twitter which should be a better plac

[2017-07-07 05:12] theo-armour commented on #18
@mostaphaRoudsari

I'm glad you like this script.

What are the next two or three things you would like to see the script do?

[2017-07-24 22:27] mostaphaRoudsari opened #19 "Auto generate the content of the new discourse website from the Grasshopper forum"
We need to move all the current discussions from [Grasshopper forum](http://www.grasshopper3d.com/group/ladybug) to the new [Discourse page](http://discourse.ladybug.tools/).

Discourse provides a REST API which should let us do it assuming we can get the initial data from the Grasshopper website.

1. Create the users
This should be done without sending the verification email right away. [Follow t

[2017-07-25 00:43] theo-armour commented on #19
btw, there's no sign up or register icon

On Mon, Jul 24, 2017 at 3:27 PM, Mostapha Sadeghipour Roudsari <
notifications@github.com> wrote:

[2017-07-25 01:14] mostaphaRoudsari commented on #19
Thanks @theo-armour. Yes. It's deactivated intentionally. We don't want people to sign in right now before we transfer the discussions.

[2017-07-27 18:42] mostaphaRoudsari commented on #14
@chriswmackey thanks for all the recent additions. They look great. Just a quick note about uppercase vs lowercase names. A number of images e.g. shadebenefit.PNG have uppercase letters which will cause issues unless you keep the names also uppercase in HTML file. As a rule let's keep all the extensions and names lowercase.

![image](https://user-images.githubusercontent.com/2915573/28686627-d38a6

[2017-07-27 18:59] #5 closed

[2017-07-27 20:44] #17 closed

[2017-07-27 21:11] mostaphaRoudsari commented on #6
closed via 212447b8fddb3a6da62aa5ed641ac8a624e2dae5

[2017-07-27 21:11] #6 closed

[2017-08-22 08:57] theo-armour opened #20 "Post SF Meeting on 2017-08-09 Updates"
@ladybug-tools/core

I very much enjoyed the four of us sitting down together and thinking out loud. Thank you

My feeling is that open source in AEC is still at a really early stage. Thus Ladybug Tools is a leader in an emerging market. With care and consideration it could well continue to be a leader as the market blossoms. Fingers crossed we find cool ways of collaborating and helping the world

[2017-08-23 12:05] chriswmackey commented on #20
Just acknowledging that I've read this issue and I agree that a Google doc is much better than a private repo.

[2017-08-23 22:59] mostaphaRoudsari commented on #20
Hi @theo-armour, Thank you for posting this. Finally released the honeybee[+] last night. That hopefully means that I can be more active here and on the forum for the next couple of weeks.

## Setting up private repo on Ladybug-tools
I agree that paying for a private repo in our case doesn't make sense. I can take care of the google drive and the google docs but there is no good way of have a conv

[2017-08-25 16:56] mdahlhausen commented on #20
Hi Theo and friends -

I've made my membership public.

Theo - do you need a copy of the powerpoint pdf, or do you have access to
it?

It's too bad we can't participate in the hackathon remotely.  I'd still be
up for a hackathon style event on our own sometime.

Business plan
Some more thoughts on income streams for you - ladybug merchandise
(t-shirts, stickers), donation targets to enable certain

[2017-08-25 20:53] mostaphaRoudsari opened #21 "Add useful links for each plugin - engine"
We need links to unmethours, radiance website, radiance learning resources, radiance mailing list, EnergyPlus documentation, OpenStudio Tutorials, CFD Online,

[2017-08-26 02:57] mostaphaRoudsari commented on #3
I'm closing this in favor of #14

[2017-08-26 02:57] #3 closed

[2017-08-26 23:24] chriswmackey commented on #21
To this list I would add:
OpenStudio BCL (for finding measures)
OpenStudio SDK
LBNL Therm + Window Documentation

National Climatic Data Center (has records of all publicly available weather data on request)

And perhaps EPWmap should be up there as well

[2017-08-27 05:00] theo-armour commented on #21
@mostaphaRoudsari @chriswmackey

Can we just do it?

For want of a better place, a while ago I started adding markdown pages with text and links at

https://github.com/ladybug-tools/ladybug-tools.github.io/tree/master/eval

Should I add a page titled links.md and start adding the above links?

[2017-08-27 05:45] theo-armour commented on #20
@mostaphaRoudsari

Yay!

### Google Doc
Started editing the Google Doc document. Thank you for creating. Even better will be to create a shared folder - so we can just add stuff we like

### Room Builder
I plane to build various ways of entering data including at least

- Really quick entering data by typing
- Entering data by dragging handles in 3D
- Entering data by voice recognition

What would

[2017-09-04 23:59] theo-armour opened #22 "FAQ Updates"
from:
https://github.com/ladybug-tools/ladybug-tools.github.io/commit/ddba66195e4d063720d6f2339224a5e92a259d1f

I'm moving the discussion to issues, because it'a a very interesting one.

Generally, the FAQ is looking good. And there's a lot of text with good background information.

Some observations:

Questions 7 and 8 are identical and yet have different answers.

If I were to add another questi

[2017-09-05 00:05] theo-armour commented on #20
@mdahlhausen

Is this http://www.gbxml.org/??

If so, then the action item would be opening, reading, displaying, (some) editing and saving gbxml data in 3D with your browser??

[2017-09-05 02:47] mdahlhausen commented on #20
It is here: https://github.com/NREL/openstudio-geometry-editor

On Mon, Sep 4, 2017 at 5:05 PM, Theo Armour <notifications@github.com>
wrote:

[2017-09-05 03:42] theo-armour commented on #20
@mdahlhausen

Thanks for the reply. I should have copied the whole quote:

Do you you know what 3D file formats the OpenStudio Geometry Editor supports? And, if more than one, which one would you suggest I start with?

[2017-09-05 03:47] mdahlhausen commented on #20
It has [its own schema](https://github.com/NREL/openstudio-geometry-editor/tree/develop/schema).  I'd suggest contact[Dan Macumber](https://github.com/macumber).  He can give you a fast briefing on their plans for the tool and what conversions they hope to support.

[2017-09-05 04:09] theo-armour commented on #20
@mdahlhausen

So I see exactly two examples of this format and there is little or no documentation on it, but it looks doable.

* https://github.com/NREL/openstudio-geometry-editor/blob/develop/test/e2e/fixtures/floorplan-2017-08-31.json
* https://github.com/NREL/openstudio-geometry-editor/blob/develop/measures/import_floorplan/tests/floorplan.json

Can you explain the rationale behind building on

[2017-09-06 23:29] mostaphaRoudsari commented on #20
Hi @macumber, Can you help @theo-armour to get this information for OpenStuio new geometry editor? You may get yourself a 3d editor when you get @theo-armour involved! 😉

@theo-armour I was thinking that "say no to 2d" can be your motto! 😃

[2017-09-07 01:24] macumber commented on #20
Hey @theo-armour it was great meeting you in SF!  I did not think that we could manage to create a full 3D web based browser in one year, that is why we shot for a 2D editor based on a new 2D format.  It is pretty easy to create more example files using one of the [releases](https://github.com/NREL/openstudio-geometry-editor/releases), just download the standalone editor and run it in a Chrome bro

[2017-09-07 01:29] macumber commented on #20
Also note that the geometry editor is itself open source so feel free to extend it or use bit and pieces.  It has pretty lightweight dependencies.  We'll be adding more features in the near future including pitched roofs, components (windows, doors, etc), and split levels.

[2017-09-07 07:24] theo-armour commented on #20
@chriswmackey

Bingo!

@macumber

It was good to meet up at last at IBPSA. And thank you for the informative presentations.

I have had a quick look at the Geometry Editor. Looks like quite an effort. I will continue having the exploration,
You can see we did in our presentation here: https://ibpsa2017.github.io/

Back to the question at hand:

Mostapha and I have been talking about jointly develo

[2017-09-07 15:51] macumber commented on #20
My suggestion would be use gbXML for individual buildings and CityGML for city level.  I have found gbXML to be the best format for interoperability in building energy modeling.  I am very positive about the future of CityGML, it looks like the right balance between simplicity and features.  However, I have not found a lot of data sources for CityGML in the US at this time.  We've been using GeoJS

[2017-09-08 01:03] theo-armour commented on #20
@macumber @co

Thanks for you good advice - which I am acting on.

Here's a very preliminary version:

http://www.ladybug.tools/spider/#sandbox/read-gbxml/read-gbxml-3d-polyloop.html

This version has issues with PolyLoops that are note extremely orthogonal. And has no light/shading yet.

A separate version displaying RectangularGeomtery is also in the works

BTW, I'm using this page to build test

[2017-09-08 15:17] macumber commented on #20
That is awesome @theo-armour :-)  I know that Stephen Roth, the maintainer of [gbxml.org](https://gbxml.org), would be interested in seeing this when you are ready.  He has been wanting to add a gbMXL preview capability to his site for a while.  There is contact info on his site if you want to give him a preview of what you are working on.

[2017-09-10 14:13] ocni-dtu opened #23 "Error in PMVCalculator"
Get a error when I try to use the PMVComfortCalculator with the following values:
Ta = 35°C
RH = 50%
MRT < -28.32°C
MET = 2.3
Clo = 0.46

Everything with a MRT below -28.32°C gives an error. I know that seems like an unusual setup with Ta = 35°C and MRT -28°C. But I find it strange that there comes a error right at -28.32°C.
I have added a gh file with the setup.
[Comfort_Error.zip](https://github

[2017-09-10 17:39] chriswmackey commented on #23
@ocni-dtu ,

It seems that you have found a condition where the human body cannot easily reach an equilibrium and this is causing the "while" loop within the PMV model to diverge. You will see that there's nothing special about -28.32 and the error has more to do with the difference between air temperature and radiant temperature.  Just drop the air temperature down a few degrees and things will w

[2017-09-10 17:39] #23 closed

[2017-09-13 09:05] devngc commented on #19
Hi @mostaphaRoudsari and @theo-armour,

Adding to this thread with a suggestion. There should be some guidelines about asking for help on the forum like the one David has [here](http://www.grasshopper3d.com/forum/topics/how-to-get-help-when-you-have-a-problem).

Thanks,
Devang

[2017-09-13 14:38] mostaphaRoudsari commented on #19
@devngc 💯! `discourse` has a specific page for this: http://forum.ladybug.tools/t/welcome-to-ladybug-tools-forum/8 Do you have a list in mind?

[2017-09-13 16:39] devngc commented on #19
@mostaphaRoudsari,
Cool. I will put my thoughts on a google doc and will share with you.

[2017-09-17 20:59] mostaphaRoudsari commented on #19
Done and done! I also closed all the discussion on the Grasshopper forum. This will ensure that everyone has to use the new forum to continue the conversation.

[2017-09-18 03:14] #19 closed

[2017-09-18 03:14] #14 closed

[2017-09-24 13:21] mostaphaRoudsari commented on #22
This is a mistake! I will fix it.

[2017-09-24 13:23] mostaphaRoudsari opened #24 "update the links on the network chart"
review the links. I bet most of them are not working.

[2017-09-24 14:18] chriswmackey commented on #24
@mostapharoudsari ,

I took care of this over the past week. All of the links should be working. I also tried to compose the static state of the diagram so that it's compact within the web browser (when you first open the page).

[2017-09-24 14:23] chriswmackey commented on #22
Yea, question 7 should be "Is Ladybug Tools validated?"

Thanks for catching that @theo-armour

[2017-09-24 19:57] mostaphaRoudsari commented on #24
Perfect! Thanks.

[2017-09-24 19:57] #24 closed

[2017-09-24 20:00] mostaphaRoudsari commented on #22
@theo-armour, question 7 is fixed! Thanks for catching that.

I like the idea of tagging the questions but I'm not sure where to start.

I'm not sure if I understand what are you proposing here. You want use to put them under different pages? We don't have text for support, do we?

[2017-09-28 16:35] sariths opened #25 "Typo in Membership page."
@mostaphaRoudsari , @chriswmackey
http://www.ladybug.tools/membership.html#institution See the highlighted "annualy"

![2017-09-28 11_34_46-ladybug tools _ membership](https://user-images.githubusercontent.com/10361848/30978733-0d1c3b86-a441-11e7-8022-6fbf8dbe2af7.png)

[2017-10-01 21:30] devngc opened #26 "Improvements"
Hi All,
Following are some of my observations on Ladybug tools website recently opened to public. The first two screenshots are as viewed from iphone6.

Some overlap
![dynawards](https://user-images.githubusercontent.com/20086924/31059161-53319718-a71d-11e7-9d33-b0cea7d4eff6.JPG)

Some spacing may be
![membership_contact](https://user-images.githubusercontent.com/20086924/31059162-56516270-a71d-11

[2017-10-01 21:38] mostaphaRoudsari commented on #26
Hi @devngc, thanks.

I checked the issues related to Patreon page and addressed number 3. Number 1 and 2 are already as you mentioned. Can you check again?

[2017-10-01 22:22] devngc commented on #26
@mostaphaRoudsari,
Looks good! Thank you quickly addressing this!

[2017-10-03 14:28] chriswmackey commented on #26
@devngc ,
Thanks for checking this.It looks like all of the issues that you posted are related to viewing the site on a phone. The Dynaward one can be fixed (I'll do this soon)

The overlap of membership is pretty bad on some cases.

I think the only way to address this is to shorten the name "Membership" on the bottom to something like "Members". What do you think @mostapharoudsari ?  I feel like

[2017-10-12 03:33] mostaphaRoudsari commented on #26
@devngc, I followed @chriswmackey's suggestion for the about page. It looks fine on the chrome's development tools for iphone 6. Let me know your thoughts and I can update all the footers for other pages: http://www.ladybug.tools/membership.html#patronwall

[2017-10-12 13:05] devngc commented on #26
@mostaphaRoudsari,
Thank you for this edit. I also used the developer tools of Chrome when I last commented. Now I checked in a real device. Looks good! Thanks again

[2017-10-13 00:43] #26 closed

[2017-11-19 01:01] mostaphaRoudsari commented on #22
This is fixed!

[2017-11-19 01:01] #22 closed

[2018-01-05 19:44] #8 closed

[2018-01-05 19:45] #12 closed

[2018-01-05 19:45] #13 closed

[2018-01-05 19:46] #20 closed

[2018-01-05 19:47] #15 closed

[2018-02-15 19:59] devngc opened #28 "SSL Certificate for the website"
Please check [this](https://medium.freecodecamp.org/free-https-c051ca570324) article. Please ignore if @theo-armour already has plans in place to address this.

[2018-02-16 07:07] theo-armour commented on #28
@devngc

Thanks for the heads up.

I agree that adding https to http://www.ladybug.tools would be a really good thing. And its not just http://www.ladybug.tools/spider/ that would benefit but also http://www.ladybug.tools/honeybee.html and all the other Ladybug Tools.

The domain name registrar for ladybug.tools is Google Domains but the actual admin name is private. I do believe, however, that th

[2018-03-26 21:20] mostaphaRoudsari opened #29 "Add london workshops and presentations to the website"
Workshops should be added under previous workshops and presentation should be added under presentations.

[2018-03-26 21:20] mostaphaRoudsari opened #30 "Add workshop testimonials"

[2018-05-02 19:14] mostaphaRoudsari commented on #28
It's hosted on GitHub Pages! As of yesterday we can get this fixed easily with no extra work: https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

I just need to follow the directions on the page. Then we need to add ssl to our form which is a different story but is now possible.

[2018-05-06 13:09] mostaphaRoudsari commented on #28
Done and done!

![screenshot 22](https://user-images.githubusercontent.com/2915573/39673584-18b50562-510d-11e8-81b6-0ae426863f4d.png)

![screenshot 21](https://user-images.githubusercontent.com/2915573/39673573-e94b3616-510c-11e8-8ff5-18ce8767a9bb.png)

[2018-05-06 13:09] #28 closed

[2018-05-20 19:59] mostaphaRoudsari commented on #29
Done thanks to @chriswmackey!

[2018-05-20 19:59] #29 closed

[2018-07-30 21:29] theo-armour opened #33 "Add Spider to Ladybug Tools"
@ladybug-tools/spiders

Well, it looks like Spider is starting to spin a web. gbXML Viewer Basic is likeley to be in the next OpenStudio update (2.6.1).

Open Studio gbXML Viewer source code
* https://github.com/NREL/OpenStudio/tree/develop/openstudiocore/src/openstudio_lib/library
* https://github.com/NREL/OpenStudio/blob/develop/openstudiocore/src/openstudio_lib/library/embeddable_gbxml_editor.h

[2018-07-30 21:58] mostaphaRoudsari commented on #33
Hi @theo-armour,

Sounds like a plan.

We already have BH and PW on the page. Not sure if we are allowed to add NREL. @macumber should know more. For gbXML.org I think we should ask them. Your already on the website as the official viewer!

![image](https://user-images.githubusercontent.com/2915573/43425969-33a35a92-9422-11e8-9128-9424d2dc393d.png)

You are one of a kind! What you guys have done w

[2019-04-05 19:24] mostaphaRoudsari opened #34 "iframes for gbxml and rad viewers"
This is necessary to accomplish https://github.com/ladybug-tools/ladybug-tools.github.io/issues/33. @theo-armour will provide the link to two HTML pages that we can include in spider page as iframes instead of using static 2d files.

[2020-02-29 18:02] mostaphaRoudsari commented on #30
I did this while ago.

[2020-02-29 18:02] #30 closed

[2020-02-29 18:07] mostaphaRoudsari opened #38 "Update bios"
👋 @stgeorges, @AntonelloDN, @TheodoreGalanos, @Vyrwn, @mdengusiak, @AntoineDao, @MingboPeng, @saeranv, @devngc!

It looks like all of your bios needs to be updated. Interesting how almost everyone has changed their jobs. 😀

[2020-02-29 21:22] stgeorges commented on #38
Hi @mostaphaRoudsari ,
I am fine with the current biography info :)

[2020-03-05 15:08] Vyrwn commented on #38
Hi Mostapha,

thanks for still including me in the team.
here is my updated bio.

-----
Byron is a Creative Technology Associate at Bryden Wood
<https://www.brydenwood.co.uk/> in London. He tries to develop new tools
and platforms in order to improve workflow in-house but also in open source
projects. He previously worked as an Associate Environmental Engineer at
Foster + Partners, integrating the

[2020-03-05 22:20] saeranv commented on #38
Nice, didn't realize you left Foster @Vyrwn. Congratulations on your new job!

[2020-03-06 00:08] Vyrwn commented on #38
It is very fresh. Only 3 weeks out of Fosters and into the new place. Thank you @saeranv . It definitely looks interesting, I hope something nice will come out of it.

[2020-03-17 11:06] michaldengusiak commented on #38
ok my is updated and [PR raised](https://github.com/ladybug-tools/ladybug-tools.github.io/pull/40),

[2020-06-29 02:33] #38 closed

[2020-11-19 18:03] mostaphaRoudsari opened #46 "Broken link to paper in butterfly outdoor comfort section"
Reported via email: https://www.ladybug.tools/butterfly.html#outdoorcomfort

I believe the link is referring to this paper. Can you confirm @chriswmackey?

https://www.ladybug.tools/assets/pdf/BS2017_260.pdf

[2021-12-19 20:21] #46 closed